[run]
# Mostly graphics helpers, so they can't really be tested
omit =
    s3a/graphicsutils.py

[report]
exclude_lines =
    def .*Gui
    def .*Event
    # Delegate is only spawned on gui ops
    SerDesDelegate