setuptools
imageprocessing@git+https://gitlab.com/ficsresearch/imageprocessing.git@master
typing_extensions
fire
tqdm
opencv_python>=4.1.2.30
numpy
pandas
scipy
scikit-image
scikit-learn
matplotlib
PyQt5>=5.11
pyqtgraph
Pillow
qdarkstyle
ruamel.yaml
pytest
