setuptools
typing_extensions
fire
bidict
tqdm
opencv_python>=4.1.2.30
numpy
pandas
scipy
scikit-image
scikit-learn
matplotlib
PyQt5==5.13
pyqtgraph
Pillow
imageprocessing
qdarkstyle
ruamel.yaml
jsonpickle
seaborn
cloudpickle
pytest
